<div>
    <div class="title">
        Привет, {{ .Name }}!
    </div>

    <div class="rate-form">
        <form action="/rate" method="post">
            {{range $player := .Players}}
            <div class="rate-form__rating-element">
                <span> {{ $player.DisplayName }} </span>
                <input type="radio" name="Rating[{{ $player.Email }}]" value="1" {{ if eq $player.Rating 1.00 }} checked {{ end }} /> 1
                <input type="radio" name="Rating[{{ $player.Email }}]" value="2" {{ if eq $player.Rating 2.00 }} checked {{ end }} /> 2
                <input type="radio" name="Rating[{{ $player.Email }}]" value="3" {{ if eq $player.Rating 3.00 }} checked {{ end }} /> 3
                <input type="radio" name="Rating[{{ $player.Email }}]" value="4" {{ if eq $player.Rating 4.00 }} checked {{ end }} /> 4
                <input type="radio" name="Rating[{{ $player.Email }}]" value="5" {{ if eq $player.Rating 5.00 }} checked {{ end }} /> 5
                <input type="radio" name="Rating[{{ $player.Email }}]" value="6" {{ if eq $player.Rating 6.00 }} checked {{ end }} /> 6
                <input type="radio" name="Rating[{{ $player.Email }}]" value="7" {{ if eq $player.Rating 7.00 }} checked {{ end }} /> 7
                <input type="radio" name="Rating[{{ $player.Email }}]" value="8" {{ if eq $player.Rating 8.00 }} checked {{ end }} /> 8
                <input type="radio" name="Rating[{{ $player.Email }}]" value="9" {{ if eq $player.Rating 9.00 }} checked {{ end }} /> 9
                <input type="radio" name="Rating[{{ $player.Email }}]" value="10" {{ if eq $player.Rating 10.00 }} checked {{ end }} /> 10
            </div>
            {{ end }}
            <div class="rate-form__submit-button">
                <input type="submit" value="Отправить оценки" />
            </div>
        </form>
    </div>
    <br />

    <div class="match-form">
        <form action="/matches" method="post">
            Дата матча: <input type="text" name="Date" placeholder="2017-04-28T12:00:00" /><br />
            Кол-во команд: <input type="text" name="NumberOfTeams" value="3" /><br />
            Кол-во людей команде: <input type="text" name="NumberOfPlayersPerTeam" value="5" /><br />

            <div class="match-form__submit-button">
                <input type="submit" value="Создать матч" />
            </div>
        </form>
    </div>
    <br />

    <div class="matches-table">
        <table>
            <thead>
                <tr>
                    <td>ID</td>
                    <td>Время</td>
                    <td>Зарегалось</td>
                    <td>Всего</td>
                    <td>Кол-во игроков в команде</td>
                    <td>Кол-во команд</td>
                    <td>Опции</td>
                </tr>
            </thead>
            <tbody>
            {{range $match := .Matches}}
                <tr>
                    <td>{{ $match.MatchID }}</td>
                    <td>{{ $match.Date }}</td>
                    <td>{{ $match.RegCount }}</td>
                    <td>{{ $match.TotalPlayers }}</td>
                    <td>{{ $match.NumberOfPlayersPerTeam }}</td>
                    <td>{{ $match.NumberOfTeams }}</td>
                    <td>
                        {{ if eq (index $.RegIds $match.MatchID) (true)}}
                            <a href="/matches/{{$match.MatchID}}/unregister">отменить регистрацию</a> |
                        {{ else }}
                            <a href="/matches/{{$match.MatchID}}/register">зарегаться</a> |
                        {{ end }}
                        <a href="/matches/{{$match.MatchID}}/registered">список</a> |
                        <a href="/matches/{{$match.MatchID}}/make-teams">формировать команды</a>
                    </td>
                </tr>
            {{end}}
            </tbody>
        </table>
    </div>
    <br />

    <div class="logout">
        <a href="/logout/">Выйти</a>
    </div>
</div>
